/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Custom Font */
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("font/Booter - Zero Zero.woff") format("woff"),
         url("font/Booter - Zero Zero.woff2") format("woff2");
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
  
  margin-top: 30px;
  margin-left: 90px;
  max-width: 700px;
  width: 100%;
  background-color: grey;

}

.container .steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    background-color: green;
}
    
    

.steps .circle {
    width: 50%;
    height: 50%;
    background-color: green;
    border: 4x solid #e0e0e0    
}
