.hidden {
    display: none;
}

button {
    padding: 5px 10px;
    border: 1px solid black
    transition 250ms bacjground-color;

}

button:hover {
    cursor: pointer
    ;
    background-color: #000000;
    color: white;
}


button:disabled:hover {

    opacity: 0.6;
    cursor: not-allowed;
}

.text-center {
    text-align: center;
}



.container {
    display: flex;
    max-width: 700px;
    justify-content: center;
    margin: 20px auto 0 auto;
    padding: 40px;
}
