@import url('https://fonts.google.com/share?selection.family=Raleway:ital,wght@0,100..900;1,100..900');
* {

    box-sizing: border-box ;
    font-family: Raleway, sans-serif;
    color: #000000
}

html , body {

    padding: 0;
    margin: 0;
}   
 .nav ul {
margin: 0;

   }

   .nav li {
display: inline;

   }
   
   .mainheader {
        background-color: rgb(255, 255, 255);
        padding: 10px;
    }

    .nav a {

        display: inline-block;
        text-decoration: none;
        color: black;
        padding: 10px;

        
    }

    