
/* https://www.youtube.com/watch?v=Sv_NAxi_jNs&list=PLZlA0Gpn_vH9D0J0Mtp6lIiD_8046k3si&index=4 */
@import url('https://fonts.google.com/share?selection.family=Raleway:ital,wght@0,100..900;1,100..900');

@font-face {
    font-family: "Booter - Zero Zero.woff";
    src: url("font/Booter - Zero Zero.woff"), format("woff"),
         url("font/Booter - Zero Zero.woff2"), format("woff2");
}
/* https://www.youtube.com/watch?v=Sv_NAxi_jNs&list=PLZlA0Gpn_vH9D0J0Mtp6lIiD_8046k3si&index=4 */
* {

    box-sizing: border-box ;
    font-family: Raleway, sans-serif;
    color: #000000
}

html , body {

    padding: 0;
    margin: 0;
}   
 .nav ul {

margin-left: -80%;
   }

   .nav li {
display: inline;

   }
   
   .mainheader {
        background-color: rgb(255, 255, 255);
        padding: 10px;
    }

    .nav a {

        display: inline-block;
        text-decoration: none;
        color: black;
        padding: 30px;

        
    }

    .nav a:hover {
        background-color: rgba(247, 222, 61, 0.3);
       
    }

    .main-nav {
        text-align: center;
        font-size: 1.1em;
        font-weight: lighter;
        border-bottom: 1px solid rgb(163, 140, 85, .3);
    }
    
    .main-nav li {

        padding: 0 5%;
    }

    .main-name-large {

        text-align: left;
        margin: 0;
        font-size: 4em;
        font-family: "Booter - Zero Zero.woff";
        margin: 20px;
        font-weight: normal;
    }

    dialog {
        padding: 0;
    }

    dialog .wrapper {
        padding: 16px;
    }
     