.about-flexbox-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 3px solid #333;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #333;   
    width: 100%;
    height: 70%;



    
}

.flexbox-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    border: 1px solid #333;
    background-color: #eaeaea;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px #333;
    

}

.flexbox-item-1 {
    width: 30%;
   min-height: 100px;
}

.flexbox-item-2 {
    width: 30%;
    min-height: 200px;
}

.flexbox-item-3 {
    width: 30%; */
    min-height: 300px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-name-large {
        font-size: 2.5em;
    }

    .mainsearch h2 {
        font-size: 24px;
    }

    .searchsider input {
        width: 100%;
    }
.searchsider .custom-select {
    width: 11%;
    border: #d82c54 1px solid;
}
    .nav ul {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-right: 0;
    }

    .nav a {
        padding: 8px 12px;
    }
}